@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body {
    background: #111111;
    background-size: cover;
}

.navbar {
    color: #fff;
    font-family: 'Caveat', serif;
    font-weight: bold;
    font-size: 25px;
    background-color: rgba(0,0,0,0.3);
}

.footer {
    text-align: center;
    width: 100%;
    color: #eeeeee;
}


