@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');



body {
    background: url('/49866675-vector-leaf-veins-closeup-pattern-background-simple-realistic-portrait.jpg') no-repeat;
    background-size: cover;
}

.navbar {
    background-color: #064f4c;
    font-family: 'Caveat',serif ;
    font-size: 25px

}

.contacts {
    text-align: center;
    margin-top: 150px;

}

.contacts p {


    font-family: 'Caveat', serif;
    font-size: 30px;
    text-align: center

}

.contacts h5 {

    font-family: 'Caveat', serif;
    font-size: 30px;
    text-align: center

}

.info {
    margin-top: 100px;
    font-family: 'Caveat', serif;
    font-size: 30px;
}

.info h1 {
    font-weight: bold;

}

.skills {
    font-family: 'Indie Flower', serif;

}



.projects {

    font-family: 'Indie Flower', serif;
    font-size: 20px;
    padding: 20px 20px;
}

.body {
    border: 6px solid #beffdf;
    border-radius: 50px 20px

}

.progress {
    height: 30px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #B4BAD2;
    border: solid 2px #B4BAD2;
    overflow: visible;
}
.progress-bar {
    background-color: #488584;
    color: #063e4f;
    font-weight: bold;
    font-size: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.progress-bar::before {
    content: attr(aria-valuenow);
    top: -40px;
    padding: 5px;
    background-color: #686E85;
    border: solid 2px #B4BAD2;
    border-radius: 10px;
    position: absolute;
    width: 60px;
    z-index: 1;
    color: #B4BAD2;
    margin-left: -30px;
    text-align: center;
    font-family: 'Caveat', serif;
}
.progress-bar::after {
    top: -14px;
    height: 30px;
    width: 14px;
    background-color: #B4BAD2;
    position: absolute;
    content: " ";
    z-index: 0;
    transform: rotate(45deg);
    margin-left: -8px;
}

.home {

    font-family: 'Caveat', serif;
    font-size: 20px;
    background-color: #fff9f0;
    width: 100%;


}

.homecart1 {
    padding: 20px 30px;
    margin: 20px 20px;
    background-color: #fafbff;


}

.homecart2 {

    box-shadow:  5px 10px #fdfffb;
    background-color: #fff2db;
    padding: 20px 30px;
    margin: 200px 20px;



}
